@import '../../index.css';

.homepage-first-area {
	display: flex;
	flex-direction: column;
	row-gap: 50px;
}

.homepage-first-area-left-side {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.homepage-subtitle-name {
	color: var(--secondary-color);
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	display: flex;
	align-items: center;
	column-gap: 8px;
}

.homepage-section-about-title {
	font-size: 28px;
  font-family: var(--primary-font);
  font-weight: 500;
  color: var(--primary-color);
	margin-bottom: 0;
}

.homepage-subtitle-description {
	width: 100%;
	max-width: 720px;
}

.homepage-socials {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 30px;
}

.homepage-social-icon {
	padding-right: 20px;
	font-size: 25px;
	transition: color 0.2s ease-in-out;
	color: var(--secondary-color);
}
.homepage-social-icon:hover {
	color: var(--primary-color);
}

.homepage-first-area-right-side {
	display: flex;
	flex-direction: column;
}

.about-subtitle {
	font-size: 22px;
  font-family: var(--primary-font);
  font-weight: 500;
  color: var(--primary-color);
	display: flex;
  align-items: center;
  column-gap: 12px;
	margin-top: 0;
}

.homepage-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-image-wrapper {
  display: flex;
  flex-wrap: wrap;
	align-items: center;
  width: 100%;
	row-gap: 30px;
	column-gap: 15px;
}