@import '../../index.css';

.homepage-container {
	margin-top: 130px;
	padding-top: 25px;
}

.homepage-projects {
	padding-top: 90px;
}

.homepage-contact {
	padding-top: 40px;
}

.homepage-contact::before {
	content: "";
	display: block;
	padding-top: 20px;
	border-top: 3px solid #f4f4f5;
	margin-top: 20px;
	width: 100%;
}