.all-projects-container {
	display: flex;
	flex-direction: column;
	row-gap: 5rem;
}

.section-project-title {
	font-size: 28px;
  font-family: var(--primary-font);
  font-weight: 500;
  color: var(--primary-color);
	display: flex;
  align-items: center;
  column-gap: 12px;
}


/* @media (max-width: 600px) {
	.all-projects-project {
		width: calc(100% / 2);
	}
} */