@import '../../../index.css';

@media (min-width: 769px) {
  .nav-mobile-container {
    display: none;
  }
}

.nav-mobile-container {
  position: static;
  width: 100%;
}

.mobile-header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1.5rem;
}

.menu-icon {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  z-index: 1001;
}
.menu-icon:hover {
  color: var(--link-color);
}

.mobile-nav {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 250px;
  background-color: #fff;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
}

.mobile-nav.open {
  transform: translateY(0);
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.mobile-nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.mobile-nav li {
  margin: 20px 0;
}

.mobile-nav a {
  text-decoration: none;
  font-size: 22px;
  color: var(--primary-color);
  font-weight: bold;
}
.mobile-nav a:hover {
  color: var(--link-color);
}
